@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FoundersGrotesk-Semibold";
  src: local("FoundersGrotesk-Semibold"),
    url("./assets/Fonts/FoundersGrotesk-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "NeueMontreal-Regular";
  src: local("NeueMontreal-Regular"),
    url("./assets/Fonts/NeueMontreal-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "icomoon";
  src: local("icomoon"), url("./assets/Fonts/icomoon.ttf") format("truetype");
}
